<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Post Content</title>
</head>
<body>

   <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">3D Wizard</a>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="https://www.facebook.com/3DWizard/">Facebook<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="#">About<span class="sr-only">(current)</span></a>
              </li>
               <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            </ul>
          </div>
        </nav>

   <div class="container">

       <h1>{{ post.title }}</h1>

        <br/>
        <br/>
       <h2>{{ post.pub_date_pretty }}</h2>
        <br/>
        <img src="{{ post.image.url }}" class="img-fluid rounded mx-auto d-block"  style="max-height:600px;">
        <br/>
       <p>
        {{ post.body }}
       </p>
   </div>

</body>
</html>